@charset "ISO-8859-1";

.cancel-container {
	cursor: pointer;
}

#month-and-year {
	text-align: center;
	font-size: 35px;
	margin-top: 2px;
	margin-bottom: 2px;
}

h3 {
	background: #f5f5f5;
}

.calendar-navigation {
	background: #f5f5f5;
	height: 71px;
}

.previous {
	width: 75px;
	height: 29px;
	margin-left: 45%;
	margin-bottom: 10px;
	margin-top: 10px;
	border-radius: 5px;
	color: black;
	background-color: #E6E5E1;
	margin-left: 25%;
}

.next {
	width: 75px;
	height: 29px;
	margin-left: 45%;
	margin-bottom: 10px;
	margin-top: 10px;
	border-radius: 5px;
	color: black;
	background-color: #E6E5E1;
	margin-left: 15%;
}

select {
	border: 0;
	color: black;
	font-size: 15px;
	font-weight: bold;
	width: 10%;
	background: #c8c8c8;
	border-radius: 5px;
	margin-left: 5px;
	margin-right: 5px;
}

form {
	margin-left: 40%;
}

label {
    margin-left: 5px;
    font-size: 20px;
    font-weight: bold;
}

span {
	font-size: 18px;
	cursor: pointer;
	padding: 5px;
	border-radius: 5px;
}

table {
	table-layout: fixed;
	width: 100%;
}

.calendar-table tr td{
	border: 1px solid #919191;
}

div {
	margin-top: 5px;
}

th {
	font-size: 24px;
	text-align: center;
	color: black;
	padding: 20px 20px 20px 20px;
	background: #6e6c6ce1;
}

tr, td {
	cursor: pointer;
	overflow: hidden;
	white-space: nowrap;
	padding: 10px 10px 30px 5px;
	text-align: center;
	*border-bottom: 1px;
	font-size: 24px;
	color: black;
	background: white;
	width: 100px;
	height: 60px;
	vertical-align: top;
	text-align: left;
	border-color: #969696;
}

#display-all-day-data {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
	padding-top: 60px;
	padding: 5px 5px 5px 5px;
}

#data {
	padding: 40px;
	background-color: #fefefe;
	margin: 5% auto 15% auto;
	border: 1px solid #888;
	height: 60%;
	width: 25%;
	border-radius: 6px;
	display: flex;
	flex-direction: column;
}

#data span:nth-child(n) {
	margin-bottom: 5px;
	display: block;
	padding: 0px;
}

td #editico {
	display: none;
}

#data #editico {
	float: right;
	height: 21px;
	opacity: .6;
	margin-left: 5px;
}

#data h2 {
	text-align: center;
}

#data div {
	display: block;
}

.content {
	flex: 1;
	overflow: auto;
}

#data button {
	margin-left: 40%;
	width: 75px;
	height: 29px;
	border-radius: 5px;
	color: black;
	background-color: #E6E5E1;
}

.edit-field {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	*overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
	padding-top: 60px;
	padding: 5px 5px 5px 5px;
}

.cancel-container {
	cursor: pointer;
}

input[type=date], input[type=time] {
	width: 95%;
	padding: 12px 20px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 10px;
	margin-bottom: 5px;
	display: inline-block;
	border: 0;
	outline: 0;
	border-bottom: 2px solid navy;
	box-sizing: border-box;
	background: transparent;
	font-size: large;
}

.edit-form {
	background-color: #fefefe;
	margin: 5% auto 15% auto;
	border: 1px solid #888;
	width: 25%;
	border-radius: 6px;
}

.reservation-form table {
	width: 100%;
	table-layout: auto;
}

.reservation-form td label {
	float: left;
}

.reservation-form td input[type=checkbox] {
	float: left;
}

.reservation-form tr {
	border-bottom: 0px;
}

.reservation-form td select {
	width: 95%;
}

.reservation-form td {
	background-color: #fefefe;
	padding: 10px;
	border-bottom: 0px;
	font-size: 20px;
	height: 0px;
	vertical-align: middle;
	height: auto;
}

input[type=submit] {
	background-color: #91ffff;
	border-radius: 5px;
	width: 75px;
	height: 29px;
	margin-bottom: 10px;
	font-size: 15px;
	color: black;
	background-color: #E6E5E1;
	margin-left: 30%;
}

.reservation-form input[type=button] {
	margin-left: 20px;;
	margin-bottom: 10px;
	margin-top: 10px;
}

.reservation-form select {
	border: 0;
	color: black;
	font-size: 15px;
	font-weight: bold;
	width: 70%;
	background: #c8c8c8;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 10px;
	margin-bottom: 5px;
	border-radius: 5px;
}

.reservation-form .close {
	margin-left: 90%;
	right: 25px;
	top: 0;
	color: black;
	font-size: 35px;
	font-weight: bold;
}

.reservation-form label {
	margin-left: 5px;
	font-size: 20px;
	font-weight: bold;
}

#form-validation-editing, #form-validation-adding {
	color: white;
	background: red;
	text-align: center;
	width: 100%;
	height: 10%;
	font-weight: bold;
	border-radius: 6px;
	display: none;
}

#data .tooltip {
	display: none;
}

td .tooltip {
	display: none;
}

.required {
	color: red;
}

#notification {
	padding: 10px;
	background-color: #4CAF50;
	color: white;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	border-radius: 6px;
}

.closeButton {
	margin-left: 15px;
	color: white;
	font-weight: bold;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	float: right;
}

td #editicon {
	float: right;
	height: 21px;
	opacity: .6;
	margin-left: 5px;
	position: absolute;
	vertical-align: top;
	border-radius: 10px;
}

.add-reservation {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	*overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
	padding-top: 60px;
	padding: 5px 5px 5px 5px;
}

.resource {
	width: 75px;
	height: 29px;
	margin-left: 8.5%;
}

input[type=submit] {
	border-radius: 5px;
	width: 100px;
	height: 34px;
	margin-bottom: 10px;
	font-size: inherit;
	font-family: serif;
	color: black;
	background-color: #CCC;
}

input[type=button] {
	width: 100px;
	height: 34px;
	border-radius: 5px;
	color: black;
	background-color: #CCC;
	font-size: 24px;
	font-family: serif;
}

.success-notification {
	padding: 10px;
	background-color: #4CAF50;
	color: white;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	border-radius: 6px;
	height: 15px;
}

div.error-notice{
	background-color: #e74a4a;
	margin-top: 5px;
	border-radius: 5px;
	color: #000000;
}

.close {
	margin-left: 90%;
	right: 25px;
	top: 0;
	color: black;
	font-size: 35px;
	font-weight: bold;
}

#edit-field>form>table {
	border: 0px;
	border-style: none;
}

#resource_name {
	border: 0;
	color: black;
	font-size: 15px;
	font-weight: bold;
	width: 70%;
	background: #c8c8c8;
	width: 95%;
	border-radius: 5px;
}

a.close-error {
	text-decoration: none;
	color: black;
	float: right;
	margin-right: 5%
}

div.error-notice{
	background-color: #e74a4a;
	margin-top: 5px;
	border-radius: 5px;
	color: #000000;
	text-align: center;
}