@charset "ISO-8859-1";

input[type=button]{
	margin-left: 20px;
}

.close {
	margin-left: 90%;
	right: 25px;
	top: 0px;
	color: black;
	font-size: 35px;
	font-weight: bold;
}

input[type=text] {
	width: 95%;
	padding: 12px 20px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 10px;
	margin-bottom: 5px;
	display: inline-block;
	border: 0;
	outline: 0;
	border-bottom: 2px solid navy;
	box-sizing: border-box;
	background: transparent;
}

label {
    margin-left: 5px;
    font-size: 20px;
    font-weight: bold;
}

select:hover {
	background-color: #80ffff;
}

select {
	border: 0;
	color: black;
	font-size: 15px;
	font-weight: bold;
	width: 70%;
	background: #c8c8c8;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 10px;
	margin-bottom: 5px;
	border-radius: 5px;
}

textarea {
	resize: none;
	height: 100px;
	width: 95%;
}

body {
	background: white;
}

#error-resource-validation{
	text-align: center;
	background: red;
	color: white;
	border-radius: 6px;
}

#error-delete{
	padding: 20px;
  	background-color: red;
  	color: white;
  	font-size: 25px;
  	font-weight: bold;
  	text-align: center;
  	border-radius: 6px;
}

.closeButton{
	margin-left: 15px;
	color: white;
	font-weight: bold;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	float: right;
}

.required{
	color: red;
}